/** ********** Fonts ********** **/
* {
  font-family: "JetBrains Mono", "Iosevka Nerd Font", sans-serif;
  font-size: 14px;
  font-weight: bold;
}

/** ********** Main Window ********** **/
window {
  background-color: #1e1e2e;
}

/** ********** Buttons ********** **/
button {
  background-color: #242434;
  color: #ffffff;
  border: 2px solid #282838;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35%;
}

button:focus,
button:active,
button:hover {
  background-color: #89b4fa;
  outline-style: none;
}

/** ********** Icons ********** **/
#lock {
  background-image: image(url("icons/lock.png"), url("/usr/share/wlogout/icons/lock.png"));
}

#logout {
  background-image: image(url("icons/logout.png"), url("/usr/share/wlogout/icons/logout.png"));
}

#suspend {
  background-image: image(url("icons/suspend.png"), url("/usr/share/wlogout/icons/suspend.png"));
}

#hibernate {
  background-image: image(
    url("icons/hibernate.png"),
    url("/usr/share/wlogout/icons/hibernate.png")
  );
}

#shutdown {
  background-image: image(url("icons/shutdown.png"), url("/usr/share/wlogout/icons/shutdown.png"));
}

#reboot {
  background-image: image(url("icons/reboot.png"), url("/usr/share/wlogout/icons/reboot.png"));
}
