// https://docs.noctalia.dev/getting-started/compositor-settings/niri/

window-rule {
  // Rounded corners for a modern look.
  geometry-corner-radius 20

  // Clips window contents to the rounded corner boundaries.
  clip-to-geometry true
}

debug {
  // Allows notification actions and window activation from Noctalia.
  honor-xdg-activation-with-invalid-serial
}

// Set the overview wallpaper on the backdrop.
layer-rule {
  match namespace="^noctalia-overview*"
  place-within-backdrop true
}
