// Add lines like this to spawn processes at startup.
// Note that running niri as a session supports xdg-desktop-autostart,
// which may be more convenient to use.
// See the binds section below for more spawn examples.

// Terminal applications
spawn-at-startup "foot"
spawn-at-startup "alacritty"
spawn-at-startup "ghostty"

// Network proxy
spawn-at-startup "clash-verge"

// Web browsers
spawn-at-startup "firefox"
spawn-at-startup "google-chrome-stable"
spawn-at-startup "chromium-browser"

// Communication applications
spawn-at-startup "Telegram"
